[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anant-sogani
[access "refs/for/refs/*"]
	read = group user/anant-sogani
	push = group user/anant-sogani
	label-Code-Review = -2..+2 group user/anant-sogani
	label-Verified = -1..+1 group user/anant-sogani
	rebase = group user/anant-sogani
	removeReviewer = group user/anant-sogani
	submit = group user/anant-sogani
[access "refs/heads/*"]
	read = group user/anant-sogani
	create = group user/anant-sogani
	push = +force group user/anant-sogani
	pushMerge = group user/anant-sogani
[access "refs/tags/*"]
	push = group user/anant-sogani
	push = +force group user/anant-sogani
